{% extends "publications/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block content %}
<div class="container">
    <h1 class="mt-5" style="color: white;">Список Фриланс-заказов</h1>
    <div class="row mt-4 overflow-auto">
        
        {% for project in projects %}
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5><a href="{% url "publications:publication" project.id %}">{{project.title}}</a></h5>
                    <p>{{project.description}}</p>
                    <ul class="list-unstyled">
                        <li><h5>{{project.price}} ₽</h5></li>
                        <li>до {{project.deadline|date:'d.m.Y'}}</li>
                        <li class="text-{% if project.status == 'Open' %}success{% elif project.status == 'Progress' %}warning{% elif project.status == 'Closed' %}danger{% endif %}">Статус: {{ project.status }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% bootstrap_javascript %}