{% extends "publications/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block content %}
<div class="container">
    <h1 class="mt-5" style="color: white;">Список Фриланс-заказов</h1>
    <div class="row mt-4 overflow-auto">
        
        {% for project in projects %}
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}</p>
                    <p class="card-text"><strong>Пользователь: </strong>{{project.customer}}</p>
                    <p class="card-text"><strong>Дата размещения:</strong> {{ project.pub_date|date:"d.m.Y" }}
                    </p>
                    <p class="card-text"><strong>Цена:</strong> {{project.price}}₽</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% bootstrap_javascript %}